<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Favoritos</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col>
        <h4>FAVORITOS</h4>
      </ion-col>
    </ion-row>
  </ion-grid>



  <!-- <div *ngFor="let genero of generos">
    <ion-grid >
      <ion-row>
        <ion-col>
          <h4>{{genero.name}}</h4>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div> -->
  <div *ngFor="let pelicula of favoritoGenero">
    <ion-grid *ngIf="pelicula.pelis.length > 0">
      <ion-row>
        <ion-col>
          <h4>{{pelicula.genero}}</h4>
        </ion-col>
      </ion-row>

      <app-slideshow-poster [peliculas]="pelicula.pelis"></app-slideshow-poster>

    </ion-grid>
  </div> 

  
</ion-content>
